.blur-on-hover:hover {
  filter: blur(3px);
}

.text-ellipsis_new {
  max-height: 7em; /* Approximate height of three lines */
  line-height: 1.5em; /* Adjust line height as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: fit;
}

.text-ellipsis-test {
  max-height: 10em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-wrap: wrap;
}

.text-ellipsis-url {
  max-height: 7em; /* Approximate height of three lines */
  line-height: 3em; /* Adjust line height as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: fit;
}
